*{
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    padding-left: 300px;
}

.adm-sidebar {
    left: 0;
    width: 250px;
}

#sidebar-filter{
    float: left;
    height: 100%;
    left: 0;
    width: 250px;
    padding: 20px;
    background-color:#FFBB52;
}

#apply-btn, #cancel-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}


.side-menu li{
    list-style: none;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
}

.sub-item {
    position: relative;
    height: 30px;
}

.sub-menu {
    /*width: 80%;*/
    margin-right: 20px;
    /*transition: 0.5s;*/
}

.sub-menu li {
    height: 25px;
    padding: 5px 10px;
    margin: 4px auto;
    font-size: 16px;
    font-weight: normal;
}

.nav-item-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    /*transition: 0.5s;*/
}


.adm-navigation-actions{
    display: flex;
    justify-content: right;
}

#sidebar-open { 
    display: none;
}


#sidebar-filter input[type=checkbox] {
    margin-right: 5px;
}

label input[type="checkbox"] {
    margin-right: 10px;
}
label input[type="checkbox"]:hover {
    cursor: pointer;
    } 

@media (max-width:1000px){
    .content-container {
        padding-left: 80px;
    }

    #sidebar-open {
        display: inline-block;
        transition: all 0.1s linear;
    }

    #sidebar-filter form {
        visibility: hidden;
        width: 0;
    }

    #sidebar-filter {
        position: absolute;
        height: fit-content;
        width: 250px;
        max-width: 50px;
        transition: max-width 0.1s linear;
        z-index: 1001;
    }

    #sidebar-filter.show {
        max-width: 250px;
        position: absolute;
        height: fit-content;
    }

    #sidebar-filter.show form {
        visibility: visible;
        width: 100%;
        
    }

    #sidebar-filter.show #sidebar-open {
        transform: rotate(180deg);
    }

    .action-btn {
        display: grid;
        justify-content: center;
    }

    .detail-btn, .edit-btn {
        margin-bottom: 10px;
    }

}

#apply-btn {
    background-color: #B2D19B;
}

#cancel-btn {
    background-color: #FF6D5F;
}

#apply-btn, #cancel-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#apply-btn:hover, #cancel-btn:hover {
    font-weight: bold;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


label:hover{
    cursor: pointer;
}


.navbar {
    display: flex;
    justify-content: space-between;
}


.adm-prodlist-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 1rem 2rem 1rem 2rem;
}


.prodlist-table-head, .product-item, .product-detail {
    margin-bottom: 0.5rem;
}


.prodlist-table-head {
    font-weight: 600;
}

.product-item {
    background-color: #ebecec;
}

.adm-tools{
    display: flex;
}

#search-form input {
    border-radius: 100px 0px 0px 100px;
}

#add-btn {
    margin-left: 1rem;
}

.adm-book-cover{
    width: 100%;
    max-width: 80px;
    height: auto;
    margin-right: 1rem;
    margin-left: 1rem;
}

.adm-book-name, .adm-book-id, .adm-book-price, .adm-book-genre {
    margin-right: 2rem;
}

.adm-prodlist-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}

.adm-pagination{
    background: none;
}

.page-link {
    color: #000;
}

.items-count-txt, .dropdown {
    display: inline-block;
}

.detail-btn, .edit-btn, .delete-btn {
    margin-right: 10px;
    color: rgb(85, 85, 85);
    background-color: #ebecec;
    border: none;
    outline: none !important;
}

.detail-btn:hover, .edit-btn:hover, .delete-btn:hover {
    cursor: pointer;
    color: #FFBB52;
  }
  

.product-detail img {
    width: 100%;
    max-width: 80px;
    height: auto;
}
  

.product-detail label {
    font-weight: 600;
  }


  

