.add_product{
    max-width: 50%;
    margin: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
}
  
.btn {
    margin: 30px auto;
}

.btn:hover {
    color: #fff;
    background-color: rgb(95, 95, 95);
}

legend {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
}

@keyframes slideIn {
    0% {
        transform: translate(-50%,130%);
    }
    100% {
        transform: translate(-50%,0);
    }
}

@keyframes slideOut {
    0% {
        transform: translate(-50%,0);
    }
    100% {
        transform: translate(-50%,130%);
    }
}

.error-dialog{
    position: fixed;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0px 10px 20px #aaa;
    animation: 1s ease-out 0s 1 slideIn forwards;
    max-height: 80vh;
    overflow-y: scroll;
    left: 50%;
    width: 50%;
}

@media (max-width:991px){
    .error-dialog{
        width: 80%;
    }
}

.error-dialog.hide {
    animation: 1s ease-out 0s 1 slideOut forwards;
}

#dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
}
  
#dropzone label {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}

#preview-container {
    margin-top: 20px; 
}

#dropzone i {
    font-size: 32px;
    display: block;
    margin: 0 auto 20px;
    color: rgb(95, 95, 95);
}

#file-input {
    display: none;
}

#dropzone.dragover {
border-color: #FFBB52;
}



#preview-container img {
    max-width: 100px;
  }
  
