@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&family=PT+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

.main-content {
    margin-inline: 150px;
    margin-top: 50px;
    max-width: 1440px;

}
@media (min-width:1537px){
    .main-content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1050px){
    .main-content {
        margin-inline: 50px;
    }
}

@media (max-width: 400px){
    .main-content {
        margin-inline: 5px;
    }
}

abbr[title] {
    text-decoration: none;
}

.fa-star, .fa-star-half-stroke {
    color:  #FFBB52;;
}

.foot-item {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: #ADADAD;
    text-decoration: none;
    transition: 0.3s;
}

.input-group {
    height: fit-content;
    align-self: center;
}


.btn {
    background-color: #acaeb1;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color:black;
}

@media (max-width:420px) {
    .btn {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.btn:focus, .btn:active, input, a:focus, a:active {
    outline: none !important;
    box-shadow: none !important;
  }

.btn.cancel, .btn.continue {
    background-color: transparent;
}

.btn.continue:hover {
    color: #82B45C;
}

.btn.cancel:hover{
    color: #5296FF;
}

@media (max-width:320px){
    .btn {
    padding-left: 10px;
    padding-right: 10px;
    }
}

.to-cart {
    background-color:#FFBB52;
    width: fit-content;
    grid-area: d;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.to-cart:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-weight: bold;
}

.to-cart::after {
    content: '\f291';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
}

/*navigacia*/
nav.navbar {
    background-color: #FFBB52;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav.navbar .navbar-brand img, nav.navbar .navbar-brand{
    width: 100px;
}

nav.navbar #search-form input {
    border-radius: 100px 0px 0px 100px;
}

nav.navbar #search-form button {
    border-radius: 0px 100px 100px 0px;
    background-color: white;
    border: 1px solid #ced4da;
    border-left-width: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

nav.navbar .clickable {
    padding: 10px;
    font-size: 25px;
    color: rgb(33, 33, 33);
}

nav.navbar input {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.navbar .navigation-actions {
    display: flex;
    align-items: center;
}

nav.navbar .profile-group {
        position: relative;
}

nav.navbar .hideable {
    position: absolute;
    width: max-content;
    top: 130%;
    left: 30%;
    padding: 20px 10px 5px 10px;
    background-color: #ffcf88;
    transform: translate(-50%, 0);
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#search-go-back{
    display: none;
    background-color: #FFBB52;
    border: 0px;
}

.input-group-append > .btn-outline-success {
    background-color: white;
    border: 1px solid #ced4da;
    border-left-width: 0px;
}

#open-search-sm{
    display: none;
}

.profile-group form.show {
    display: block;
}


#search-form {
    display: flex;
    width: 400px;
}

#logout{
    background: transparent;
}

#logout:hover{
    color: #378e6f;
}

#logout::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f08b";
}
@media (max-width:345px) {
    nav.navbar .clickable {
        padding: 5px;
    }
}

@media (max-width: 991px){
    #navbar-collapsible {
        order:3;
    }

    nav.navbar .navigation-actions{
        order:2;
    }
    nav.navbar .navbar-brand {
        flex-grow: 1;
    }
}

@media (max-width: 700px){
    #search-go-back{
        align-self: center;
        display: block;
        width: 40px;
    }

    #open-search-sm {
        display: block;
        
    }

    #search-form {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #FFBB52;
    }
    #search-form.show {
        display: flex;
        z-index: 1000;
    }
}

@media (min-width:327px) {
    #search-form{
        height: 100%;
    }
}
@media (max-width:326px) {
    nav.navbar .navigation-actions{
        flex-flow: row-reverse;
    }
}

/* footer*/
#logo-col {
    padding-top: 20px;
    padding-bottom: 20px;
}

#social-media {
    padding-top: 45px;
    padding-bottom: 45px;
}

.icons {
    font-size: 45px;
    padding: 5px;
}

footer {
    background-color: #FFBB52;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > .container {
    padding-top: 10px;
}

#logo {
    width: 100%;
}

h1,legend {
    font-size: 25px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
legend {
    margin-bottom: 8px;
}

legend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h2, h3, h6, th, a, #progressbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

p, td, #search-input, .foot-item, .btn, label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
}

hr {
    border-top: 3px solid black;
}

strong {
    font-weight: 700;
}

/* komponent hodnotenia knihy*/
.rating {
    font-size: 30px;
    color: #FFBB52;
    display: inline-block;
    overflow: hidden;
  }
.rating::before { 
    content: "★★★★★" ;
    position: absolute;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #FFBB52;
    background-size: 100% 40px;
    height: 40px;
    width: var(--stars-width);
    max-width: 123px;
    min-height: 0;
  }

.rating::after {
    content: "★★★★★" ;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: white;
  }

  @media (max-width: 767px){
    footer #logo-col #logo {
        width: 50%;
        height: auto;
    } 
}

/* komponent na inkrementaciu polozky*/
.input-group.amount-input {
    width: fit-content;
    justify-content: center;
    justify-self: end;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(149, 157, 165, .1);
}

.input-group.amount-input input {
    width: 50px;
    flex: 0;
    border-width: 0;
    text-align: center;
    background-color: transparent;
}
 
.input-group.amount-input button{
    margin-left: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-width: 0;  
    padding-left: 11px;
    padding-right: 11px;
  }


  .rating-decimal {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 5px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 4px;
    margin: 2px;
    width: fit-content;
    justify-self: center;
}

/* vypnutie vstavaneho sposobu inkerementacie inputu */
.input-group.amount-input input[type=number]::-webkit-inner-spin-button, 
.input-group.amount-input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-group.amount-input input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.rating-decimal > p {
    margin-bottom: 0;
    font-size: 15px;
    padding-inline: 5px;
}

