/*banner*/
#banner {
    text-align: center;
}

#banner > picture,
#banner > picture > * {
    width: 100%;
}

/*komponent kniha - obrazok, nazov, autor, cena, hodnotenie*/
.book-component {
    margin-inline: 25px;
    text-align: center;
    align-items: center;
    border-width: 0;
    width: 135px;
}

.owl-carousel.homescreen .book-component img.book-img,
.book-img
 {
    width: 135px;
    height: 213px;
    object-fit: fill;
    border-radius: calc(0.25rem - 1px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.book-img:hover {
    opacity: 70%;
    transition: 0.3s;
}

.book-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
}

.book-author {
    font-size: 13px;
    margin-bottom: 0;
}

.book-author, .book-title, #main-book-title, #main-book-author { 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1;
    -webkit-box-orient: vertical;
    height: fit-content;
 }


.price {
    margin-bottom: 0;
    font-size: 15px;
    padding-inline: 5px;
}


/*žánre*/
.zoom {
    transition: transform .5s;
    text-align: center;
}

.zoom > h2 {
    font-size: 16px;
    font-weight: 400;
}

.zoom:hover {
    transform: scale(1.05); 
}

.zoom:hover > h2 {
    font-weight: 600;
}

/*rozlozenie top knih*/

.grid-container {
    display: grid;
    grid-template-columns: 5fr 1.6fr 1.6fr 1.6fr;
    grid-row: 1rem;
    grid-gap: 20px;
    padding: 0 20px 20px 20px;
}

.grid-container > a {
    display: grid;
}

.grid-item {
    display: inline-grid;
    justify-items: center;
    text-align: center;
}

.grid-item-1 {
    grid-row: span 2;
}

.grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6, .grid-item-7 {
    grid-column: span 1;
}

/*hlavna zobrazovana knihy vybrata z top knih*/

#main-book {
    padding: 20px 60px 20px 60px;
    background-color: #BFAFFF;
    text-align: center;
    width: 80%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: background-color 0.4s linear;
}

#main-book-cover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 245px;
    height: 386px;
    object-fit: fill;
    border-radius: calc(0.25rem - 1px);
}

#main-book-title {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#main-book-about { 
    font-size: 15px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
}
        
#main-book-author {
    font-size: 16px;
    margin-bottom: 0;
}


/*-----responzivita------------------*/ 
@media (min-width: 1250px) and (max-width: 1439px){
    #main-book-about { 
        -webkit-line-clamp: 5;
                line-clamp: 5;
    }
}

@media (max-width: 1250px){
    #main-book-about { 
        -webkit-line-clamp: 7;
        line-clamp: 7;
    }
}

@media (max-width: 1199px){
    .grid-container {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        grid-row: auto;
        justify-content: center;
    }
    
    .grid-item-1 {
        display: none;
    }
}

@media (max-width: 1050px){
    #main-book-about { 
        -webkit-line-clamp: 8;
        line-clamp: 8;
    }
}

@media (max-width: 570px){
    .main-content > h1 {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        grid-row: auto;
        justify-content: center;
    }
}

@media (max-width: 362px){
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, calc(100%/6));
        grid-row: auto;
        justify-content: center;
        margin-bottom: 100px;
    }
}