main {
  display: grid;
  grid-template-columns: 250px auto;
}

.page-item.active .page-link {
  background-color: #65AA92;
  border-color: #65AA92;
}

.page-link:focus, .page-link:active {
  outline: none !important;
  box-shadow: none !important;
}

.page-link:hover {
  background-color: #65aa9248;
  color: forestgreen;
}

#no-result {
  width: 100%;
  text-align: center;
}

main > aside {
  grid-column: 1;
}

#main-catalog {
  grid-column: 2;
  margin: 20px;
  max-width: 1440px;
}

#main-catalog > #order-by > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
}

#main-catalog > #order-by > ul .nav-link{
  color: rgb(174, 174, 174);
}

#main-catalog > #order-by > ul .nav-link:hover{
  color: #65AA92;
}

#main-catalog > #order-by > ul .active .nav-link{
  color: black
}

.product-container {
  display: grid;
  padding-bottom: 15px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  border-bottom: solid 2px lightgrey;
  grid-template-areas: 
          "im hg"
          "im hg"
          "im pr"
          "st bt";
  margin-bottom: 30px;
  height: 290px;
}

.product-img {
  width: 135px;
  height: 213px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: calc(0.25rem - 1px);
  grid-area: im;
  justify-self: center;
}

.product-img:hover {
  opacity: 70%;
  transition: 0.3s;
}

.product-container hgroup {
  grid-area: hg;
}

.rating-decimal {
  grid-area: st;
}

.product-price {
  grid-area: pr;
  margin-bottom: 0;
  font-size: 20px;
  align-self: center;
}

.to-cart {
  grid-area: bt;
}

.product-container hgroup > h2 {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
  height: fit-content;
}

.product-container hgroup h3 {
  font-size: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
          line-clamp: 1;
  -webkit-box-orient: vertical;
  height: fit-content;
}

.product-about {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
          line-clamp: 5;
  -webkit-box-orient: vertical;
  height: fit-content;
  margin-bottom: 10px;
}


/* responzivita */
@media (min-width:1537px){
  #main-catalog {
      margin-left: auto;
      margin-right: auto;
  }
}

@media (min-width: 1001px) and (max-width: 1090px), (max-width: 890px)  { 
    .product-container hgroup > h2 {
      -webkit-line-clamp: 1;
              line-clamp: 1;
    }

    .product-container hgroup > h3 {
      margin-bottom: 5px;
    }

    .product-container {
      height: 270px;
    }
}

@media (max-width: 1000px){
  main {
    display: grid;
    grid-template-columns: 50px auto;
  }
  
  main > aside {
    grid-column: 1;
  }
  
  main > section {
    grid-column: 2;
  }
}

@media (max-width: 768px) { 
  .product-container hgroup h3 {
      margin-bottom: 15px;
  }

  .pagination li {
    display: none;
  }

  .pagination li.control,
  .pagination li.disabled,
  .pagination li.active,
  .pagination li.active + li
   {
    display: list-item;
  }

}

@media (max-width: 500px) { 
  .product-img {
        width: 100px;
        height: auto;
  }

  .product-container hgroup h2{
      font-size: 16px;
  }

  .product-container hgroup h3, .to-cart, .product-price {
      font-size: 13px;
  }

  .product-about {
      font-size: 10px;
  }

  #main-catalog .product-container .rating-decimal, #main-catalog .product-container .rating-decimal > p{
      font-size: 12px;
  }

  main > #main-catalog > #order-by > ul {
      font-size: 1rem;
  }

  .pagination li.disabled,
  .pagination li.active + li {
    display: none;
  }

  .product-container {
    height: 220px;
  }

}

@media (max-width: 310px) {
  .product-img {
    width: 60px;
    height: auto;
  }

  .product-about {
    display: none;
  }

  .product-container {
    height: 155px;
  }
}
