.agreement-row {
    flex-direction: column;
    justify-content: left;
}

.register-container{
    background-color: #f0f0f0;
    border-radius: 30px;
    padding-bottom: 20px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


/*pridane nove*/
.links-register-login {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: baseline;
    justify-content: center;
    padding-inline: 0;
}

.links-register-login a, .links-register-login p {
    margin-inline: 10px;
    padding-inline: 60px;
    padding-bottom: 5px;
    border-bottom: solid 2px;
    font-size: 20px;
    margin-bottom: 1rem;
}

.links-register-login a {
    color: rgb(174, 174, 174);
}

.links-register-login a:hover {
    color: #FFBB52;
}

.btn-center {
    text-align: center;
}

.btn-center > input {
    background-color: #FFBB52;
    transition: all 0.1s linear;
}

.btn-center > input:hover {
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #82B45C;
}

.change-to-admin {
    display: inline-flex;
    width: 100%;

}

.change-to-admin .form-check {
    margin-left: auto;
    
}

.password-container {
    position: relative;
}

#show-password { 
    position: absolute; 
    top: 44px;
    right: 4%;
    font-weight: bold;
    color: grey;
}

#terms:hover , #consent:hover {
    cursor:pointer;
}

.is-invalid {
    border-color: #dc3545;
}
  

.invalid-feedback {
    color: #dc3545;
}

@media (max-width:769px) {
}