/*#cart-form > article > * {
    float: left;
}*/

.row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#cart-form > article,
#prehlad-objednavky article
 {
    display: grid;
    align-items: center;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ced4da;
    padding: 10px 5px 20px 5px;
    background-color: #e5e9ee;
}

#cart-form > article button {
    border-radius: 5px;
    padding-left: 11px;
    padding-right: 11px;
}
#cart {
    background-color:#e5e9ee ;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#cart-form > article  header {
    width: 90%;
    grid-column: 1;
}

#cart-form > article .item-info {
    display: grid;
    grid-column: 2;
    margin-left: 10px;
    width: 85%;
}
#cart h1 {
    font-size: 2rem;
}

main.container-fluid {
    max-width: 1600px;
}

#cart footer .btn {
    margin-bottom: 10px;
    height: fit-content;
}

#cart footer strong {
    font-weight: 700;
}

#cart-form > article  header > h2,
#cart-form > article  header > p,
#prehlad-objednavky h2 
 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

#cart-form > article header > h2 {
    font-size: 0.9rem;
    margin-bottom: 4px;
}

#cart-form > article  header > p {
    font-size: 0.7rem;
    margin-bottom: 2px;
}


#cart-form > article img {
    grid-column: 1;
}

#cart-form .input-group {
    width: fit-content;
    justify-content: center;
    grid-column: 2;
}

#cart-form .input-group input{
    width: 50px;
    flex: 0;
}

#cart-form .input-group button{
  margin-left: 10px;
}

#cart-form > article > p {
    grid-column: 3;
    margin: 0;
    flex-grow: 1;
    text-align: end;
}

#cart footer {
    display: grid;
    background-color: #e5e9ee;
    padding-top: 15px;
}

#cart footer > p {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}
#cart footer > a {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
}

#cart #controls {
    width: fit-content;
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    text-align: end;
}
@media (max-width:982px){
    #cart-form .input-group {
        width: fit-content;
        justify-content: center;
        grid-column: 1;
        grid-row: 2;
    }
}

#prehlad-objednavky article {
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
@media (max-width:494px) or ((min-width:768px) and (max-width:1422px)){
    #prehlad-objednavky article {
        display: block;
    }
    #prehlad-objednavky .priceUnit {
        display: none;
    }
    
}

#payment-form .form-part:first-child {
    padding: 20px;
}
#payment-form article {
    margin-bottom: 20px;
}
#payment-form article:last-child {
    margin-bottom: 0px;
}
#payment-form article h1 {
    font-size: 1rem;
}
#payment-form article p{
    margin-bottom: 0px;
    font-size: 0.9rem;
}
#prehlad-objednavky h1 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#prehlad-objednavky footer {
    text-align: end;
    border-top: 1px solid black;
    padding-top: 10px;
    /*position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;*/
    background-color: transparent;
}
#prehlad-objednavky footer p {
    font-size: 1.1rem;
    margin-bottom: 0px;
}

#prehlad-objednavky footer p strong{
    font-size: 1.3rem;
}

@media (max-width:892px) and (min-width:768px) {
    #prehlad-objednavky footer p {
        font-size: 1rem;
        margin-bottom: 0px;
    }
    
    #prehlad-objednavky footer p strong{
        font-size: 1rem;
    }
}

#prehlad-objednavky div {
    height: 590px;
    overflow-y: scroll;
}

.radio-group {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
}
.radio-group:last-child {
    border-bottom: 0px;
}

#prehlad-objednavky h2 {
    font-size: 1rem;
    grid-column: 1;
    grid-row: 1;
}

#prehlad-objednavky .amount {
    grid-column: 2;
    grid-row: 1;
    text-align: end;
    margin-bottom: 0px;
}

#prehlad-objednavky .priceUnit {
    grid-column: 3;
    grid-row: 1;
    text-align: end;
    margin-bottom: 0px;
}


#prehlad-objednavky .price {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: end;
    margin-bottom: 0px;
}
@media (max-width:575.99px) {
    .delivery {
        padding-left: 0px;
        padding-right: 0px;
    }
    
}

.form-footer {
    background-color: transparent;
}

.form-footer button {
    float: right;
}

.form-part {
    background-color: lightgray;
    border-radius: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

fieldset {
    padding-left: 20px;
    padding-right: 20px;
}

legend {
    padding-top: 10px;
}

label {
    margin-bottom: 2px;
}

input.form-control {
    padding: 0.275rem 0.75rem;
}


#progressbar {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    margin-top: 30px;
    margin-bottom: 20px;
}
@media (max-width:700px) {
    #progressbar {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

#progressbar li {
    list-style: none;
    float: left;
    position: relative;
    width:33.3333333%
}
#progressbar li::before {
    content: "";
    width: 100%;
    height: 12px;
    background: #eaf0f4;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 10px;
}


#progressbar li::after {
    content: "";
    background-color: #eaf0f4;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#progressbar li.active::after{
    background-color: #5296FF;
}

#progressbar li.active::before {
    background-color: #5296FF;
}