.btn {
    background-color: #acaeb1;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color:black;
}

.btn.cancel {
    background-color: transparent;
    border-width: 1px;
    border-color: black;
}

.btn.continue:hover {
    background-color: greenyellow;
}

.btn.cancel:hover{
    background-color: #FF2222;
}

@media (max-width:320px){
    .btn {
    padding-left: 10px;
    padding-right: 10px;
    }
}

p abbr[title] {
    text-decoration: none;
}


nav.navbar {
    background-color: #FFBB52;
}

nav.navbar .navbar-brand img, nav.navbar .navbar-brand{
    width: 100px;
}

nav.navbar .hideable {
    display: none;
}

nav.navbar #search-form .btn {
    padding-left: 12px;
    padding-right: 12px;
}

nav.navbar .clickable {
    padding: 10px;
    font-size: 25px;
    color: rgb(33, 33, 33);
}
nav.navbar input {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (max-width:327px) {
    nav.navbar .clickable {
        padding: 7px;
    }
}
@media (max-width:308px) {
    nav.navbar .clickable {
        padding: 5px;
    }
}
nav.navbar #search-form input {
    border-radius: 100px 0px 0px 100px;
}

nav.navbar #search-form button {
    border-radius: 0px 100px 100px 0px;
    background-color: white;
    border: 1px solid #ced4da;
    border-left-width: 0px;
}


nav.navbar .navigation-actions {
    display: flex;
    align-items: center;
}

nav.navbar .profile-group {
        position: relative;
}
nav.navbar .hideable {
        position: absolute;
        width: max-content;
        top: 100%;
        left: 50%;
        padding: 20px 10px 5px 10px;
        background-color: #977037;
        transform: translate(-50%, 0);
        clip-path: polygon(50% 0%, 60% 25%, 100% 25%, 100% 100%, 0 100%, 0 25%, 40% 25%);
}

#search-go-back{
    display: none;
    background-color: #FFBB52;
    border: 0px;
}

.input-group-append > .btn-outline-success {
    background-color: white;
    border: 1px solid #ced4da;
    border-left-width: 0px;
}

@media (max-width: 991px){
    #navbar-collapsible {
        order:3;
    }

    nav.navbar .navigation-actions{
        order:2;
    }
    nav.navbar .navbar-brand {
    flex-grow: 1;
}
}

#open-search-sm{
    display: none;
}
.profile-group form.show {
    display: block;
}

#search-form {
    display: flex;
}

#search-form.show {
    display: flex;
    z-index: 1000;
}

#logout::before{
    padding-right: 10px;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f08b";
}


@media (max-width: 535px){
    #search-go-back{
        align-self: center;
        display: block;
        width: 40px;
    }

    #open-search-sm {
        display: block;
        
    }

    #search-form {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #FFBB52;
    }
}

@media (min-width:327px) {
    #search-form{
        height: 100%;
    }
}
@media (max-width:326px) {
    nav.navbar .navigation-actions{
        flex-flow: row-reverse;
    }
}

.input-group {
    height: fit-content;
    align-self: center;
}

#logo-col {
    padding-top: 20px;
    padding-bottom: 20px;
}

#social-media {
    padding-top: 45px;
    padding-bottom: 45px;
}

.icons {
    font-size: 45px;
    padding: 5px;
}

footer {
    background-color: #FFBB52;
}

footer > .container {
    padding-top: 10px;
}

#logo {
    width: 100%;
}

h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

hr {
    border-top: 3px solid black;
}

.main-content {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}