#banner {
    text-align: center;
}

#banner > img {
    width: 100%;
}

.zoom {
    transition: transform .5s; 
}
  .zoom:hover {
    transform: scale(1.05); 
}
  .zoom:hover > p {
    font-weight: 500;
  }

/*------ top knihy --------*/

.grid-container {
    display: grid;
    grid-template-columns: 5fr 1.6fr 1.6fr 1.6fr;
    grid-gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.grid-item {
    display: inline-grid;
    justify-items: center;
}

.grid-item-1 {
    grid-row: span 2;
}

.grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6, .grid-item-7 {
    grid-column: span 1;
}

.top-books-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
}

.top-books-author {
    font-size: 13px;
    margin-bottom: 0;
}

.rating-decimal {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 5px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 4px;
}

.rating-decimal > p {
    margin-bottom: 0;
    font-size: 15px;
    padding-inline: 5px;
}

.fa-star, .fa-star-half-stroke {
    color:  #FFBB52;;
}

.rating-price {
    display: inline-flex;
    align-items: center;
}

.price {
    margin-bottom: 0;
    font-size: 15px;
    padding-inline: 5px;
    font-weight: bold;
}

#main-book {
    padding: 20px 60px 20px 60px;
    background-color: #BFAFFF;
    text-align: center;
    width: 80%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: background-color 0.4s linear;
}

#main-book-cover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 245px;
    height: 386px;
    object-fit: fill;
    border-radius: calc(0.25rem - 1px);
}

#main-book-title {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#main-book-about { 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
}
        
#main-book-author, #main-book-about {
    font-size: 16px;
    margin-bottom: 0;
}

.top-books-author, .top-books-title, #main-book-title, #main-book-author, .card-title { 
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
           line-clamp: 1;
   -webkit-box-orient: vertical;
}

/*--------------------------------------
---------- corousel --------------------*/

.carousel-control-next, .carousel-control-prev {
    width: 4%;
}

.carousel .carousel-control-prev-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFBB52' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFBB52' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.book-wrapper {
    display: flex;
}

.card-img-top {
    width: 135px;
    height: 213px;
    object-fit: fill;
    border-radius: calc(0.25rem - 1px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-img-top:hover {
    opacity: 80%;
}

.card {
    width: 100%;
    margin-inline: 25px;
    text-align: center;
    align-items: center;
    border-width: 0;
    border-radius: 0 solid;
}

.card-body {
    padding: 10px 0 0 0;
}

.card-title {
    font-size: 16px;
    margin-bottom: 0;
}


/*-----responzivita------------------*/ 
@media (min-width: 1250px) and (max-width: 1439px){
    #main-book-about { 
        -webkit-line-clamp: 5;
                line-clamp: 5;
    }
}

@media (max-width: 1250px){
    .card:not(:nth-child(-n + 5)) {
        display: none;
    }
    
    #main-book-about { 
        -webkit-line-clamp: 7;
        line-clamp: 7;
    }
    
    #banner > img {
        content: url("../res/banner2.png");
    }
}

@media (max-width: 1199px){
    .grid-container {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        grid-row: auto;
        justify-content: center;
    }
    
    .grid-item-1 {
        display: none;
    }
}

@media (max-width: 1050px){
    .card:not(:nth-child(-n + 4)) {
        display: none;
    }
    
    #main-book-about { 
        -webkit-line-clamp: 8;
        line-clamp: 8;
    }
}

@media (max-width: 768px){
    #banner > img {
        content: url("../res/banner.png");
    }
}


@media (max-width: 680px){
    .card:not(:nth-child(-n + 3)) {
        display: none;
    }
}

@media (max-width: 570px){
    .card:not(:nth-child(-n + 2)) {
        display: none;
    }
    
    h1 {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        grid-row: auto;
        justify-content: center;
    }
    
    #banner > img {
        display: none;
    }
}

@media (max-width: 400px){ 
    .card:not(:first-child) {
        display: none;
    }
}

@media (max-width: 362px){
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, calc(100%/6));
        grid-row: auto;
        justify-content: center;
        margin-bottom: 100px;
    }
}