.main-content {
    text-align: center;
}

#objednavka > h1 {
    font-size: 40px;
}

#objednavka > p {
    font-size: 20px;
    margin-bottom: 50px;
}

#objednavka > a {
    font-size: 20px;
    background-color:#65AA92;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#objednavka > a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: black;
}

@media (max-width:769px) {
    #objednavka > h1 {
        font-size: 30px;
    }
    
    #objednavka > p, #objednavka > a {
        font-size: 17px;
    }
}