.agreement-row {
    flex-direction: column;
    justify-content: left;
}

.agreement-item{
    display: flex;
    flex-direction: row;
}

.btn-inactive{
    background-color: lightgrey;
}

.register-container{
    background-color: lightgray;
    border-radius: 30px;
    padding-bottom: 20px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.register-header{
    font-size: larger;
    margin: 20px;
    text-align: center;
    text-shadow: 0cap;
}