.agreement-row {
    flex-direction: column;
    justify-content: left;
}

.agreement-item{
    display: flex;
    flex-direction: row;
}

.btn-choose{
    background-color: #acaeb1;
    padding-left: 30px;
    padding-right: 30px;
    color:black;
    border-style: none;
    margin: 20px;
}

.btn-active{
    background-color: lightblue;
}

.register-container{
    background-color: lightgray;
    border-radius: 30px;
    padding-bottom: 20px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}