
#sidebar-filter{
    float: left;
    
    left: 0;
    width: 250px;
    padding: 20px;
    background-color:#FFBB52;
}

#apply-btn, #cancel-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}


.side-menu li{
    list-style: none;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
}

.sub-item {
    position: relative;
    height: 30px;
}

.sub-menu {
    /*width: 80%;*/
    margin-right: 20px;
    /*transition: 0.5s;*/
}

.sub-menu li {
    height: 25px;
    padding: 5px 10px;
    margin: 4px auto;
    font-size: 16px;
    font-weight: normal;
}

.nav-item-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    /*transition: 0.5s;*/
}


.adm-navigation-actions{
    display: flex;
    justify-content: right;
}

#sidebar-open { 
    display: none;
}


#sidebar-filter input[type=checkbox] {
    margin-right: 5px;
}

label input[type="checkbox"] {
    margin-right: 10px;
}
label input[type="checkbox"]:hover {
    cursor: pointer;
    } 

@media (max-width:1000px){
    #sidebar-open {
        display: inline-block;
        transition: all 0.1s linear;
    }

    #sidebar-filter form {
        visibility: hidden;
        width: 0;
    }

    #sidebar-filter {
        position: absolute;
        height: fit-content;
        width: 250px;
        max-width: 50px;
        transition: max-width 0.1s linear;
        z-index: 1001;
    }

    #sidebar-filter.show {
        max-width: 250px;
        position: absolute;
        height: fit-content;
    }

    #sidebar-filter.show form {
        visibility: visible;
        width: 100%;
        
    }

    #sidebar-filter.show #sidebar-open {
        transform: rotate(180deg);
    }

}

#apply-btn {
    background-color: #B2D19B;
}

#cancel-btn {
    background-color: #FF6D5F;
}

#apply-btn, #cancel-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#apply-btn:hover, #cancel-btn:hover {
    font-weight: bold;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}